@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Space Grotesk";
}

text {
  font-family: "Space Grotesk";
  font-size: 12px;
  pointer-events: none;
}

#chart {
  width: 500px;
  height: 500px;
}

#question {
  width: 400px;
}

#question h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Space Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

#imageCool {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center center;
}

@keyframes sizeAndSpin {
  0% {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0) rotate(720deg);
    opacity: 0;
  }
}

.animate {
  animation: sizeAndSpin 5s forwards;
}


#wheel {
  float: left;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#scoreboard {
  float: right;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreboard-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--foreground);
}